{{!--
Partial: Society
--}}

<section class="contact-us" id="nous">
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>about us</h2>
            </div>
            <div class="col-md-12">
                <img class="contact-us-img" src="/assets/images/contact/us/us.jpeg" alt="">
            </div>
            <div class="col-md-12">
                <div class="hogsmeade">
                    <div class="hogsmeade-txt">
                        <h3>HOGSMEADE</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nulla assumenda perspiciatis repellendus dolorem voluptatem, dolore alias est
                            fuga
                            quae
                            molestiae iure suscipit? Eos optio vel magnam exercitationem, reiciendis
                            blanditiis
                            distinctio.</p>
                        <p>Ipsum dolor sit amet consectetur adipisicing elit. Dignissimos earum soluta
                            magnam,
                            sed
                            quis nemo obcaecati nostrum impedit modi ipsam ut eius fugiat sunt doloremque a
                            ea
                            maiores
                            harum id.</p>
                        <p> Dolor sit, amet consectetur adipisicing elit. Vero rem harum facere accusantium.
                            Esse sint nobis ullam numquam, et a sunt debitis corrupti iure porro ratione
                            blanditiis
                            excepturi magni exercitationem.
                        </p>
                        <br>
                        <br>
                        <p>Ipsum dolor sit amet consectetur adipisicing elit. Dignissimos earum soluta
                            magnam,
                            sed
                            quis nemo obcaecati nostrum impedit modi ipsam ut eius fugiat sunt doloremque a
                            ea
                            maiores
                            harum id.</p>
                        <p> Dolor sit, amet consectetur adipisicing elit. Vero rem harum facere accusantium.
                            Esse sint nobis ullam numquam, et a sunt debitis corrupti iure porro ratione
                            blanditiis
                            excepturi magni exercitationem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
