{{!--
Partial: Society
--}}

<section class="contact-us" id="nous">
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <h2>about us</h2>
            </div>
            <div class="col-md-12">
                <img class="contact-us-img" src="assets/images/All/logo.png" alt="">
            </div>
            <div class="col-md-12">
                <div class="hogsmeade">
                    <div class="hogsmeade-txt">
                        <h3>HOGSMEADE</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Nulla assumenda perspiciatis repellendus dolorem voluptatem, dolore alias est
                            fuga
                            quae
                            molestiae iure suscipit? Eos optio vel magnam exercitationem, reiciendis
                            blanditiis
                            distinctio.</p>
                        <br>
                        <br>


                    </div>
                </div>
            </div>
            <div class="society-icons row">


                <p>** <a href=""><i class="fab fa-deviantart"></i></a>  ***        
                    <a href=""><i class="fab fa-instagram"></i></a>   ***     
                    <a href=""><i class="fab fa-facebook-square"></i></a>  ***   
                    <a href=""><i class="fab fa-twitter"></i></a>   ***     
                    <a href=""><i class="fab fa-pinterest"></i></a>
                </p>


            </div>
        </div>
    </div>
</section>