{{!-- 
    Partial: Events
 --}}

    <section class="all-cards container">
        <div class="row">
            <h2>Events</h2>

            {{!-- Card 1 --}}

            <a class="col-md-3 btn-card" href="blog-eng.html">
                <div class="card-details">
                    <img src="/assets/images/cards/lantern.png" alt="">
                    <h4>Yule Ball</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                        Consequuntur reprehenderit ullam amet quidem</p>
                    <h5>Santa Claus</h5>
                </div>
            </a>

            {{!-- Card 2 --}}

            <a class="col-md-3 btn-card" href="blog-eng.html">
                <div class="card-details">
                    <img src="/assets/images/cards/lantern.png" alt="">
                    <h4>Yule Ball</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                        Consequuntur reprehenderit ullam amet quidem</p>
                    <h5>Santa Claus</h5>
                </div>
            </a>

            {{!-- Card 3 --}}

            <a class="col-md-3 btn-card" href="blog-eng.html">
                <div class="card-details">
                    <img src="/assets/images/cards/lantern.png" alt="">
                    <h4>Yule Ball</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                        Consequuntur reprehenderit ullam amet quidem</p>
                    <h5>Santa Claus</h5>
                </div>
            </a>

            {{!-- Card 4 --}}

            <a class="col-md-3 btn-card" href="blog-eng.html">
                <div class="card-details">
                    <img src="/assets/images/cards/lantern.png" alt="">
                    <h4>Yule Ball</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                        Consequuntur reprehenderit ullam amet quidem</p>
                    <h5>Santa Claus</h5>
                </div>
            </a>
        </div>
    </section>
