{{!--
Partial: Forgot Password ?
--}}

<section class="login">
    <div class="container">
        <div class="mt-5 mb-5">
            <h2>Forgot Password ?</h2>
        </div>

        <form action="/forgotPW" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-form  mb-3">
                        <input
                        name="username"
                        class="form-control"
                        type="text"
                        id="inputName"
                        placeholder="Username">
                    </div>
                    <div class="contact-form  mb-3">
                        <input
                        name="mail"
                        class="form-control"
                        type="text"
                        id="inputMail"
                        placeholder="Mail Address">
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/newPW"><button class="btn-log">Send</button></a>
            </div>
        </form>
    </div>
</section>