{{!--
Main : Footer
--}}


<footer class="bg-dark text-center text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-us">
                    <div class="footer-img">
                        <img src="/assets/images/footer/snowflake.jpg" alt="">
                    </div>
                    <div class="footer-mentions">
                        <p>Lorem ipsum dolor sit consectetur adipisicing elit. Saepe nostrum dignissimos dolores
                            ombrage
                            ducimus Lorem ipsum dolor sit consectetur adipisicing elit. Saepe nostrum dignissimos
                            dolores ombrage ducimus</p>
                        <ul>
                            <li>
                                <a href="">Legal Mentions</a>
                                <a href="">Our Partners</a>
                                <br>
                                <a href="">Legal Mentions</a>
                                <a href="">Our Partners</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter">
                    <p>Lorem ipsum dolor sit consectetur adipisicing elit. Saepe nostrum dignissimos dolores
                        ombrage
                        ducimusLorem ipsum dolor sit consectetur adipisicing elit. Saepe nostrum dignissimos
                        dolores
                        ombrage ducimus</p>
                    <form>
                        <label class="form-label" for="name">Subscribe to newsletter</label>
                        <input
                        name="newletter mail"
                        class="form-control"
                        type="text"
                        id="name" placeholder="Add your mail address">
                        <a href="/" class="btn footer-btn">Send</a>
                    </form>
                </div>
                <div class="footer-icons">
                    <a href=""><i class="fab fa-pinterest"></i></a>
                    <a href=""><i class="fab fa-deviantart"></i></a>
                    <a href=""><i class="fab fa-discord"></i></a>
                    <a href=""><i class="fab fa-google-play"></i></a>
                    <a href=""><i class="fab fa-app-store-ios"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p> © 2021 Copyright:
            <a class="text-white" href="/">xmas-events-hogsmeade.com</a>
        </p>
    </div>
</footer>