{{!-- Modal :
Biograpĥy --}}

<div class="modal fade" id="modify-bio-modal-{{ id }}" tabindex="-1" aria-labelledby="edituserlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Modify biography</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="connection d-flex justify-content-center flex-column">
                    <div class="mb-3 element-form">

                        <form action="/admin/bio/{{ id }}?_method=PUT" method="post">

                            <label for="input-email" class="form-label"></label>
                            <textarea
                            class="brd-txt-area"
                            name="bio"
                            value="{{description}}"
                            id="{{ id }}"
                            cols="30"
                            rows="10"
                            placeholder=" Write a biography . . ."></textarea>
                            <div class="modal-footer">
                                <button type="cancel" class="btn-off  float-end" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn-on float-end">Confirm</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>