{{!-- Partial: Comments
--}}

<section class="clients" id="comments">
    <div class="container">
        <div class="row">
            <h2>Comments</h2>

            <!---Commentaires-->

{{#each comments}}

            <div class="client-profil">
                <blockquote>
                    <cite> {{author_id}} <img src="/assets/images/comments/rogue.jpg" alt=""></cite>
                   {{ content }}
                </blockquote>
            </div>

{{/each}}

        </div>
    </div>
</section>
