{{!-- Partial: Comments
--}}

<section class="clients">
    <div class="container">
        <div class="row">
            <h2>Comments</h2>

            <!---Client 1-->

            <div class="client-profil">
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem
                    <cite><img src="/assets/images/comments/luna.jpg" alt="">Luna Lovegood</cite>
                </blockquote>
            </div>

            <!---Client 2-->

            <div class="client-profil">
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem
                    <cite><img src="/assets/images/comments/drago.jpg" alt="">Draco Malefoy</cite>
                </blockquote>
            </div>

            <!---Client 3-->

            <div class="client-profil">
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sint atque!
                    Consequuntur reprehenderit ullam amet quidem
                    <cite><img src="/assets/images/comments/rogue.jpg" alt="">Severus Snape</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>