{{!--
Partial : Message
--}}

<section class="form-comment">
    <div class="container">
        <hr>
        <div class="row">
            <form action="/blogID" method="post">
                <div class="contact-form">
                    <label class="form-label" for="message">Username</label>
                    <input
                    name="name"
                    class="form-control"
                    id="input-username"
                    type="text">
                </div>
                <div class="contact-form">
                    <label class="form-label" for="message">Message</label>
                    <textarea
                    name="message"
                    id="textarea-message"
                    rows="4"
                    class="contact-message form-control"></textarea>
                </div>
                <div class="row">
                    <div class="contact-form">
                        <button class="btn-contact">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
