{{!--
Partial: Articles
--}}

<section class="admin-blog" id="blog">
    <div class="container">
        <div class="row">
            <h3><i class="fas fa-book"></i> blog</h3>

            {{#each articles}}

            {{!-- Card 1 --}}


            <div class="col-md-3 mb-3">
                <div class="card-details">
                    <img src="assets/images/cards/hufflepuffdorm.jpeg">
                    <h4> {{ title }} </h4>
                    <p> {{ description }} </p>
                    <div class="gst-icons">

                        <button type="submit" class="btn-gestion" data-bs-toggle="modal"
                            data-bs-target="#thumb-content-modal">
                            <i class="fas fa-thumbtack"></i></button>

                        <button type="submit" class="btn-gestion" data-bs-toggle="modal"
                            data-bs-target="#edit-article-modal-{{ id }}">
                            <i class="fas fa-pencil-alt"></i></button>

                        <button type="submit" class="btn-gestion" data-bs-toggle="modal"
                            data-bs-target="#delete-content-modal">
                            <i class="fas fa-trash-alt"></i>
                        </button>


                    </div>
                </div>
            </div>


            {{> modals/articles }}

            {{/each}}

            {{!-- Card Creation --}}


            <div class="col-md-3 mb-3">
                <div class="card-details">
                    <button type="submit" class="btn btn-add" data-bs-toggle="modal"
                        data-bs-target="#create-article-modal"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>
</section>