{{!--
Partial: Profile
--}}

<section class="admin-hp bg-grey mt-5 pb-5">
    <div class="container">
        <div class="row">
            <h2>admin</h2>
            <div class="col-md-5">
                <img src="/assets/images/comments/slytherin.jpg" alt="">
            </div>

                {{#each bio}}

            <div class="admin-bio mt-5 col-md-5">
                <h3>Welcome, <span>Arata Shingyôji</span></h3>
                <h4>Status: <span>Online</span></h4>
                <p> {{description}}
                </p>
                <button type="button" class="btn float-end" data-bs-toggle="modal"
                    data-bs-target="#modify-bio-modal-{{id}}"><i class="fas fa-pencil-alt"></i>
                </button>

            </div>

                {{> modals/biography }}

                {{/each}}
                
        </div>
    </div>
</section>